
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
    all: unset;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* Fonts */

@font-face {
    font-family: norse;
    src: 
    url(/fonts/norse-bold-webfont.woff) format('woff'), 
    url(/fonts/norse-bold-webfont.woff2) format('woff2');
  }

/* Layout */

body {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
  font-family: norse;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-column {
    background-image: url('images/norse-fire.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 30%;
    color: white;
    font-family: norse;
    position: relative;
}

.logo-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 200px;
}

.logo-img {
    width: 50px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 70%;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    padding: 2em 0;
}

.right-column p {
  margin-left: 1.5em;
}

.right-column a {
  color: ##db4010;
}

.right-column span {
  font-weight: bold;
}

form {
    background-color: #faf4ea;
    margin-block: 2.5em;
    padding: 1.5em;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
}

.intro-msg {
  font-size: 1.2rem;
}

.column {
  width: 350px;
  float: left;
}

input, label {
   display: block;
}

input {
  width: 15em;
  background: #fff;
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 0.2em;
}

input:invalid {
  background-color: rgb(252, 225, 229);
  border: 2px solid #ff0000;
  display: inline-block;
}

input:valid {
  display: inline-block;
}

input:invalid + span::before {
  content: '✖';
  color: #ff0000;
}

input:valid + span::before {
  content: '✓';
  color: #008000;
}

input:focus {
  border: 2px solid #2935b8;
  background-color: #f6f7e5;
}

label {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 1em;
  margin-bottom: .2em;
}

.create-btn {
    padding: .5em;
    width: 200px;
    margin-left: 1.5em;
    margin-bottom: 1em;
    color: #fff;
    background-color: #db4010;
    border-radius: 5px;
    text-align: center;
}

.create-btn:hover {
  background-color: #e29315;
  transition: 200ms ease-in;
}

.create-btn:focus {
  background-color: #e29315;
  transition: 200ms ease-in;
}

.create-btn {
  text-decoration: none;
  color: #fff;
}

.create-btn:visited {
  color: #fff;
}